.container{
    width: 100%;
    max-width: 1200px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}