@media (min-width:  map-get($breakpoints, "xs")){
    #service{
        .service-nav{
            display: none;
        }
        .service-nav-mobile{
            display: block;
        }
    }
}
@media (min-width:  map-get($breakpoints, "md")){
    #service{
        .service-nav{
            display: block;
        }
        .service-nav-mobile{
            display: none;
        }
    }
}